<html>
<h1 class="title is-white">Log In</h1>
<body>
<% if flash[:error] %>
    <div class="error"> <%= flash[:error] %> </div>
<% end %>

<div class="login_form">
    <%= form_tag login_path do %>
    <div class="field">
    <div class="control"
        <%= label :name, "Username:" %>
        <%= text_field_tag :name %>
    </div>
    </div>
    <div class="field">
    <div class="control">
        <%= label :password, "Password" %>
        <%= password_field_tag :password %>
    </div>
    </div>
        <%= submit_tag "Log In" %>
    <% end %> 
</div>
</body>
</html>
