<h1 class="title"><%= @user.name %></h1>
<body>
<div id="location">Location: <%= @user.location %></div>
<br>
<h2> Card Collection: </h2><br>
<div class="collection">
    <% @user.pokemon_cards.each do |card| %>
    <%= link_to  pokemon_card_path(card.id) do%>
        <img src="<%= card.image_url %>">
        <%end %>
    <% end %>
</div>

<div class="actions">
    <% if @user.id == @current_user.id %>
        <%= link_to "Edit Your Profile", edit_user_path, class: "button is-info" %>
    <% end %>

</div>
</body>


