<body class="has-text-centered">
<h1 class="title is-1 has-text-warning"><%= @user.name %></h1>

<div id="location" class="subtitle is-4 is-white">Location: <%= @user.location %></div>
<br>
<h2 class="subtitle is-4"> Card Collection: </h2><br>
<div class="collection">

    <div class="columns is-multiline is-marginless">
        <% @user.pokemon_cards.each do |card| %>
            <div class="column is-one-fifth">
            
                <a href="/pokemon_cards/<%=card.id%>">
                    <img src="<%= card.image_url %>">
                </a>
          
            </div>
        <% end %>
    </div> 
</div>

<h2 class="subtitle is-4"> <%= @user.name %>'s Posts in the Trade Forum: </h2>
<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>View Posts</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
    <% @user.posts.each do |post| %> 
      <a href="/posts/<%=post.id%>" class="dropdown-item">
       <%= post.title %>
      </a>
      <%end %>
    </div>
  </div>
</div>

<br><br>
<div class="actions">
    <% if @user.id == @current_user.id %>
        <%= link_to "Add a Post to the Trade Forum", new_post_path, class: "button is-info" %><br><br>
        <%= link_to "Edit Your Profile", edit_user_path, class: "button is-info" %>
    <% end %>

</div>
</body>


