<body class="has-text-centered">
<h1 class="title is-1"><%= @user.name %></h1>

<div id="location" class="subtitle is-4 is-white">Location: <%= @user.location %></div>
<br>
<h2 class="subtitle is-4"> Card Collection: </h2><br>
<div class="collection">
    <!-- # <% @user.pokemon_cards.each do |card| %>
    # <%= link_to  pokemon_card_path(card.id) do%>
    #     <img src="<%= card.image_url %>">
    #     <%end %>
    # <% end %> -->

    <div class="columns is-multiline is-marginless">
        <% @user.pokemon_cards.each do |card| %>
            <div class="column is-one-fifth">
            
                <a href="/pokemon_cards/<%=card.id%>">
                    <img src="<%= card.image_url %>">
                </a>
          
            </div>
        <% end %>
    </div> 
</div>

<div class="actions">
    <% if @user.id == @current_user.id %>
        <%= link_to "Edit Your Profile", edit_user_path, class: "button is-info" %>
    <% end %>

</div>
</body>


