<div class="columns">
<div class="column is-half is-offset-one-quarter has-text-centered">

<br>
<%= link_to "Add a New Post", new_post_path, class: "button" %>
<br>

<% content_for :page_title, "Trade Forum" %> 
    <section class="section">
        <div class="container">

            <% @posts.each do |post| %>
            
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4"><%= link_to post.title, post_path(post.id) %></p>
                    </div>
                </div>
                <div class="content">
                    By: <%= post.user.name %><br>
                    <%= post.created_at %><br>
                    <%= post.content %>  
                </div>
            </div>
            <% end %>
        </div>
    </section>
</div>
</div>