 
<img src="<%=@pokemon_card.image_url%>"> <br>

<div class="info">
<%= @pokemon_card.title %> <br>
<%= @pokemon_card.pokemon_card_count %> Users have this card in their collection
<ul>
<% @pokemon_card.users.each do |user| %>
<li><%= link_to user.name, user_path(user.id) %></li>
<%end %>
</ul>
</div>

<div class="actions">
<%= link_to "View all cards", pokemon_cards_path %> <br>
<%= link_to "View all users", users_path %>
<%= link_to "edit card", edit_pokemon_card_path %> 
</div> 