 <br><br> <div class="">
 <div class="has-text-centered">
<img src="<%=@pokemon_card.image_url%>"> <br>
</div>
<div class="info">
<div class='title is-info has-text-centered is-family-monospace'>
<%= @pokemon_card.title %> <br>
</div>
<div class="subtitle is-4 is-family-monospace">
<%= @pokemon_card.pokemon_card_count %> Users have this card in their collection
</div>
<ul>
<% @pokemon_card.users.each do |user| %>
<div class="subtitle is-4 has-text-centered is-family-monospace">
<li><%= link_to user.name, user_path(user.id) %></li>
</div>
<%end %>
</ul>
</div>

<div class="subtitle is-4 is-family-monospace has-text-centered">
<%= link_to "View all cards", pokemon_cards_path %> <br>
<%= link_to "View all users", users_path %>
<%= link_to "edit card", edit_pokemon_card_path %> 
</div> 