<!DOCTYPE html>
<html>
  <head>
    <title>PokeTrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <style>
        img { 
            width: 145px;
            height: 210px;
        }
    </style>
  </head>

  <body>
    <% unless controller_name == "sessions" && action_name == "login" %>
      
    <nav class="navbar is-dark">
        <div class="navbar-menu">
          <div class ="buttons">
  
          <%= link_to "View All Cards", pokemon_cards_path, class: "navbar-item, button is-light is-rounded" %>
          
            <% if session[:user_id] %>
               <%= link_to "Home", user_path(current_user.id), class: "navbar-item, button is-light is-rounded" %>
              <%= link_to "View All Users", users_path, class: "navbar-item, button is-light is-rounded" %> 
                <div class="navbar-end">
                  <%= link_to "Log Out", logout_path, class: "navbar-item, button is-light is-rounded is-pulled-right" %>
                </div>
            <% else %>
              <div class="navbar-end">
                <%= link_to "Log In", login_path, class: "navbar-item, button is-light is-rounded is-pulled-right" %>
              </div>
            <% end %> 
          </div>
    
        </div>
    </nav>
    <% end %>

   <%# <div class="container is-fluid" id="main_container"> %>
    <%= yield %>
    <%# </div> %>
  

  </body>
</html>
